<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Campgrounds</title>

    <!-- Mapbox scripts -->
    <script
      src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"
      defer
    ></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css"
      rel="stylesheet"
    />

    <script defer>
      const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
      const campgrounds = { features: <%- JSON.stringify(campgrounds) %>}
    </script>

    <script src="/javascripts/clusterMap.js" defer></script>
    <!-- -------------- -->
  </head>
  <body>
    <%- include('../partials/flash'); -%>
    <div id="map" style="width: 100%; height: 500px"></div>
    <div>
      <h1>Campgrounds</h1>
      <a href="/campgrounds/new">Add New Campground</a>
      <ul>
        <% for(let campground of campgrounds) { %>

        <li>
          <a href="/campgrounds/<%= campground._id %>"
            ><%= campground.title %> - <%= campground.location %> - <%=
            campground.price %>TL - <%= campground.description %> - <%=
            campground.image %></a
          >
        </li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
